In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt
from scipy.stats import norm, entropy 
from scipy.stats import probplot
import matplotlib.pyplot as plt
from scipy.stats import logistic
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.utils import resample
from sklearn import svm
from sklearn.metrics import classification_report, confusion_matrix, roc_curve
from sklearn.preprocessing import Imputer

from pyspark.ml.recommendation import ALS
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.sql.session import SparkSession
import math
from sklearn import preprocessing

In [10]:
column_names=["player","balls"]
data_delivery = pd.read_csv('team_avg_balls_played_SVD.csv')

In [11]:
data_delivery.head()

          Batsman      Bowler     balls
0  A Ashish Reddy  A Chandila  4.599722
1  A Ashish Reddy   R Sathish  6.472763
2  A Ashish Reddy   R Rampaul  4.833072
3  A Ashish Reddy     R Parag  7.100956
4  A Ashish Reddy     R Ninan  6.917495

In [24]:
player1="A Ashish Reddy"
player2="A Chandila"

rslt_df = data_delivery.loc[(data_delivery['Batsman'] == player1) & (data_delivery['Bowler'] == player2) ]
rslt_df

# for i,j,k in zip(data_delivery["Batsman"].iteritems(),data_delivery["Bowler"].iteritems(),data_delivery["balls"].iteritems()):
#     print(i,j,k)
#     if i==player1 and j==player2:
#         print(k)
   

# def fetchDynamicBalls(player1,player2,df):

          Batsman      Bowler     balls
0  A Ashish Reddy  A Chandila  4.599722

In [82]:
column_names=["player","balls"]
data_delivery = pd.read_csv('team_avg_balls_played_SVD.csv')

batsman="AB de Villiers"
bowler="Jason Behrendorff"

def name(s): 
  
    # split the string into a list  
    l = s.split() 
    new = "" 
  
    # traverse in the list  
    for i in range(len(l)-1): 
        s = l[i]   
        # adds the capital first character  
        new += (s[0].upper())       
    # l[-1] gives last item of list l. We 
    # use title to print first character in 
    # capital. 
    new += l[-1].title()   
    return new 

batsman=name(batsman)
bowler=name(bowler)

    

rslt_df = data_delivery.loc[(
                                (data_delivery['Batsman'].map(lambda x: name(x) == batsman)) | 
                                (data_delivery['Batsman'].map(lambda x: (x) == batsman))
                            ) 
                            & (
                                (data_delivery['Bowler'].map(lambda x: name(x) == bowler)) |
                                (data_delivery['Bowler'].map(lambda x: (x) == bowler))
                            )]

if(rslt_df.empty or rslt_df["balls"].isnull):
    print(0)
else:
    print(rslt_df["balls"].item())

0

In [98]:
data_delivery = pd.read_csv('team_based_analysis.csv')

team1="Mumbai Indians"
team2="Chennai Super Kings"
data_delivery.head()

,Unnamed: 0,Team1,Team2,Total_Balls,Predicted
0,9,Kolkata Knight Riders,Mumbai Indians,246,242.809233
1,15,Mumbai Indians,Chennai Super Kings,247,243.358754

In [100]:
rslt_df = data_delivery.loc[(
                                (data_delivery['Team1'].map(lambda x: (x)==team1))
                            ) 
                            & (
                                (data_delivery['Team2'].map(lambda x: (x)==team2))
                            )]

# rslt_df
if(rslt_df.empty):
    print('0')
else:
    print(str(rslt_df["Total_Balls"].item()))
    print(str(rslt_df["Predicted"].item()))

247
243.3587539

In [120]:
data_delivery = pd.read_csv('get_bowler_based_analysis.csv')

team1="Kings XI Punjab"
team2="Chennai Super Kings"
data_delivery.head()

                         Team1                Team2  inning_1  inning_2
0              Kings XI Punjab  Chennai Super Kings       125       126
1  Royal Challengers Bangalore  Chennai Super Kings       102       122
2          Sunrisers Hyderabad  Chennai Super Kings       114       122
3          Chennai Super Kings      Deccan Chargers       121       121
4                Pune Warriors  Chennai Super Kings       122       122

In [121]:
rslt_df = data_delivery.loc[(
                                (data_delivery['Team1'].map(lambda x: (x)==team1))
                            ) 
                            & (
                                (data_delivery['Team2'].map(lambda x: (x)==team2))
                            )]

# rslt_df
if(rslt_df.empty):
    print('0')
else:
    print(str(rslt_df["inning_1"].item()))
    print(str(rslt_df["inning_2"].item()))

125
126