This code is created using the below references
1. https://towardsdatascience.com/random-forest-in-python-24d0893d51c0

In [1]:
import pandas as pd
import numpy as np
import os, io
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [20]:
train= pd.read_csv('Batsman_Baller.csv',sep=',')

print(train.head(50))

           Batsman           Baller  Balls
0   A Ashish Reddy          A Nehra      9
1   A Ashish Reddy         AB Dinda      7
2   A Ashish Reddy       AD Mathews     12
3   A Ashish Reddy       AD Russell      3
4   A Ashish Reddy    Anureet Singh      2
5   A Ashish Reddy    Azhar Mahmood      3
6   A Ashish Reddy          B Kumar      1
7   A Ashish Reddy    BW Hilfenhaus      2
8   A Ashish Reddy        CH Morris      5
9   A Ashish Reddy         DJ Bravo     13
10  A Ashish Reddy  Harbhajan Singh      8
11  A Ashish Reddy      Imran Tahir      2
12  A Ashish Reddy          J Botha      2
13  A Ashish Reddy     JEC Franklin      3
14  A Ashish Reddy        JP Duminy      1
15  A Ashish Reddy      JP Faulkner      2
16  A Ashish Reddy       KA Pollard      3
17  A Ashish Reddy        KK Cooper      5
18  A Ashish Reddy         M Kartik      8
19  A Ashish Reddy         M Morkel      5
20  A Ashish Reddy       MG Johnson      3
21  A Ashish Reddy         MM Patel      2
22  A Ashish Reddy        MM Sharma      2
23  A Ashish Reddy         MR Marsh      3
24  A Ashish Reddy          MS Gony      4
25  A Ashish Reddy  NM Coulter-Nile      1
26  A Ashish Reddy          P Awana      2
27  A Ashish Reddy          P Kumar      4
28  A Ashish Reddy        PP Chawla      2
29  A Ashish Reddy         PV Tambe      4
30  A Ashish Reddy    Parvez Rasool      9
31  A Ashish Reddy    R Vinay Kumar     11
32  A Ashish Reddy      RJ Peterson      5
33  A Ashish Reddy         RP Singh      2
34  A Ashish Reddy       SL Malinga      4
35  A Ashish Reddy  SMSM Senanayake      4
36  A Ashish Reddy        SP Narine      1
37  A Ashish Reddy        SR Watson      5
38  A Ashish Reddy        STR Binny      4
39  A Ashish Reddy          SW Tait      4
40  A Ashish Reddy   Sandeep Sharma      3
41  A Ashish Reddy       TG Southee      4
42  A Ashish Reddy         UT Yadav     10
43  A Ashish Reddy        YS Chahal      7
44      A Chandila        R Rampaul      2
45      A Chandila    R Vinay Kumar      2
46      A Chandila         RP Singh      2
47      A Chandila   V Pratap Singh      1
48        A Chopra    DP Vijaykumar      5
49        A Chopra         DW Steyn      4

In [21]:
train = pd.get_dummies(train)
train.iloc[:,5:].head(5)

,Batsman_A Dananjaya,Batsman_A Flintoff,Batsman_A Kumble,Batsman_A Mishra,Batsman_A Mithun,Batsman_A Mukund,Batsman_A Nehra,Batsman_A Singh,Batsman_A Symonds,Batsman_A Uniyal,...,Baller_Washington Sundar,Baller_Y Gnaneswara Rao,Baller_Y Nagar,Baller_Y Prithvi Raj,Baller_Y Venugopal Rao,Baller_YA Abdulla,Baller_YK Pathan,Baller_YS Chahal,Baller_Yuvraj Singh,Baller_Z Khan
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
labels = np.array(train['Balls'])

In [25]:
# Use numpy to convert to arrays
import numpy as np

train= train.drop('Balls', axis = 1)
# Saving feature names for later use
feature_list = list(train.columns)
# Convert to numpy array
train = np.array(train)

In [26]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(train, labels, test_size = 0.25, random_state = 42)

In [27]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (14829, 918)
Training Labels Shape: (14829,)
Testing Features Shape: (4943, 918)
Testing Labels Shape: (4943,)

In [29]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
rf.fit(train_features, train_labels);

In [30]:
# Use the forest's predict method on the test data
predictions = rf.predict(test_features)
# Calculate the absolute errors
errors = abs(predictions - test_labels)
# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 6.21 degrees.

In [31]:
# Calculate mean absolute percentage error (MAPE)
mape = 100 * (errors / test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 28.71 %.

In [34]:
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = rf.estimators_[5]
# Import tools needed for visualization
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = rf.estimators_[5]
# Export the image to a dot file
export_graphviz(tree, out_file = 'tree.dot', feature_names = feature_list, rounded = True, precision = 1)
# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')
# Write graph to a png file
graph.write_png('tree.png')

"dot" with args ['-Tpng', 'C:\\Users\\rashm\\AppData\\Local\\Temp\\tmp5od0trj0'] returned code: 3221225477

stdout, stderr:
 b''
b''

AssertionError: 3221225477